#accordionNavContainer
    {
    position: absolute;
    top: 10px;
    left: 6px;
    font-size: 12px;
    font-family: verdana, sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: #545454;
    }
    
#accordionNav {
    font-size: 12px;
    font-family: verdana, sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: #545454;
    border-top: 1px dashed #DBDFDF;
    /*border-bottom: 1px dashed #DBDFDF;*/
    
    width: 160px;}

 
.accordionButton {  
    width: 160px;
    float: left;
    margin-bottom: 2px;
    border-bottom: 1px solid #FFFFFF;
    cursor: pointer;
    }
 
.accordionContent { 
    width: 150px;
    float: left;
    margin-left: 10px;
    }