.sprite-buttonTopBorderOver { background-position: 0 -30px; } 
.sprite-top_grad { background-position: 0 -64px; } 
.sprite-bottomShadow { background-position: 0 -190px; } 
.sprite-topShadow { background-position: 0 -223px; } 
.sprite-bottom_grad { background-position: 0 -256px; } 
.sprite-buttonTopBorder { background-position: 0 -325px; } 
.sprite-buttonBottomBorderOver { background-position: 0 -359px; } 
.sprite-buttonBottomBorder { background-position: 0 -393px; } 
.sprite-datumBackground { background-position: 0 -427px; } 
