.sprite-unselectedTab { background-position: 0 -30px; } 
.sprite-button100x22 { background-position: 0 -87px; } 
.sprite-application { background-position: 0 -139px; } 
.sprite-sectionMarkerBlock { background-position: 0 -188px; } 
.sprite-audio { background-position: 0 -264px; } 
.sprite-button100x22Over { background-position: 0 -313px; } 
.sprite-buttonTopLeftCornerOver { background-position: 0 -365px; } 
.sprite-buttonBottomLeftCornerOver { background-position: 0 -399px; } 
.sprite-buttonBottomRightCornerOver { background-position: 0 -433px; } 
.sprite-bulletHome { background-position: 0 -467px; } 
.sprite-button160x22 { background-position: 0 -511px; } 
.sprite-buttonTopRightCornerOver { background-position: 0 -563px; } 
.sprite-button160x22Over { background-position: 0 -597px; } 
.sprite-selectedTab { background-position: 0 -649px; } 
.sprite-logo_trans { background-position: 0 -706px; } 
.sprite-buttonBottomRightCorner { background-position: 0 -768px; } 
.sprite-buttonTopLeftCorner { background-position: 0 -802px; } 
.sprite-logo_trans_big { background-position: 0 -836px; } 
.sprite-loading { background-position: 0 -905px; } 
.sprite-buttonBottomLeftCorner { background-position: 0 -967px; } 
.sprite-buttonTopRightCorner { background-position: 0 -1001px; } 


