<div style="text-align: center;" class="resumeText">Rachel Johnson<br>

759 1/2 Wilcox<br>
Los Angeles, CA 90038<br>
racheljohnson70@hotmail.com<br>

</div>
<br><br>

<div style="text-align: left;" class="resumeText">
    <b>Directing Experience</b><br><br>
    
    
    2008<br>
    <i>Director</i><br>
    I directed a ten-minute short film on the RED camera, entitled, "Jean McMillian." It will be released this spring.<br><br>
    
    
    2003<br>
    <i>Director</i><br>
    I directed an award-winning animation, "The Toll Collector." See attached filmography for awards.<br><br><br>
    
    
    <b>Sculpting/Set Building Experience</b><br><br>
    
    
    2003<br>
    <i>Sculptor</i><br>
    The Replacement Fairies<br>
    I designed, sculpted and cast the puppets and sets for this pilot for a television series.<br><br>
    
    
    2003<br>
    <i>Sculptor</i><br>
    The Gorilla House<br>
    I designed, sculpted and cast the puppets and sets for this short film.<br><br>
    
        
    2002<br>
    <i>Sculptor/Set Builder</i><br>
    The Toll Collector<br>
    I designed sculpted, cast and built all the sets and puppets for the Toll Collector.<br><br><br>
    
    <b>Screenwriting Experience</b><br><br>
    
    2008<br>
    <i>Screenwriter</i><br>
    "Mrs. Einstein" feature<br>
    Spec script based on the tragic life of Albert Einstein's first wife and silent collaborator.<br><br>
    
    2008<br>
    <i>Screenwriter</i><br>
    "Jean McMillian" short film<br><br>
    
    2005-present<br>
    <i>Screenwriter</i><br>
    "Trying to Save Piggy Sneed" feature<br>
    This is a feature length screenplay I've been working on with John Irving based on his memoir, "Trying to Save Piggy Sneed."<br><br>
    
    2002<br>
    <i>Screenwriter</i><br>
    "The Toll Collector" short film<br><br><br>
    
    
    <b>Teaching Experience</b><br><br>
    
    Fall 2008-present<br>
    <i>Professor</i><br>
    Professor of animation at USC.<br><br><br>
    
    2003-2008<br>
    <i>NYC Professor</i><br>
    I taught at Parson's School of Design, Pratt Institute and New York University. Classes included Introduction to Animation, 
    Advanced Stopmotion, Armature Building/Puppet Making, Story Boarding/Storytelliing, Screenwriting, and Concept Art and Character Design.<br><br><br>
    
    
    <b>Education</b><br><br>
    
    1999<br>
    BFA at Rhode Island School of Design<br><br><br>
    
    2000-2001<br>
    I was trained in animation at the world famous Trnky Studios in the Czech Republic.<br><br><br>
    
    2000-2001<br>
    I was educated in mold making and puppet building at Makinnion and Saunders in England.<br>
</div>

    
    
