<html>
<head>
    <style type="text/css">
        @import "http://ajax.googleapis.com/ajax/libs/dojo/1.3.1/dijit/themes/tundra/tundra.css";
        @import "http://ajax.googleapis.com/ajax/libs/dojo/1.3.1/dojo/resources/dojo.css";
    </style>
    
    {% block extraHead %}
    {% endblock extraHead %}
</head>
<body class="tundra">

    {% block iFrameContent %}
    {% endblock iFrameContent %}
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/dojo/1.3.1/dojo/dojo.xd.js" djConfig="parseOnLoad:true"></script>
    
    <script type="text/javascript">
    {% block iFrameJavaScript %}
    {% endblock iFrameJavaScript %}
    </script>

</body>
</html>
