
<!-- 
<form id="loginForm" action="{{ request.get_full_path }}" method="post">
   <table>{{ form }}</table>
 -->
 
    
{% if form.errors %}
    <p class="error">We're sorry, but your user name or password is incorrect.</p>
{% endif %}

    <table style="text-align: left">
        <tr>
            <td>Username: </td>
            <td>{{ form.username }}</td>
        </tr>
        
        <tr>
            <td>Password: </td>
            <td>{{ form.password }}</td>
        </tr>
    </table>
    <br>

<input type="hidden" name="next" value="/accounts/loginSuccess/" />
