<!-- 
    This is constructed from JSON.
 -->
<div id="accordionNavContainer">


    <div id="accordionNav" class="accordionNav" style="display:none">
        
        <div id="navHome" class="accordionCategory accordionButton">Home</div>
        <div id="navHomeDiv" class="accordionContent"></div>
    
        <div id="navWhatIs" class="accordionCategory accordionButton">What Is LittleShoot?</div>
        <div id="navWhatIsDiv" class="accordionContent"></div>

        <div id="navHelp" class="accordionCategory accordionButton">Help</div>
        <div id="navHelpDiv" class="accordionContent"></div>
    
        <div id="navTechnology" class="accordionCategory accordionButton">Technology</div>
        <div id="navTechnologyDiv" class="accordionContent"></div>
    
        <div id="navTeam" class="accordionCategory accordionButton">Team</div>
        <div id="navTeamDiv" class="accordionContent"></div>
    
        <div id="navContact" class="accordionCategory accordionButton">Contact Us</div>
        <div id="navContactDiv" class="accordionContent"></div>
    
        <div id="navDownload" class="accordionCategory accordionButton">Download</div>
        <div id="navDownloadDiv" class="accordionContent"></div>
    
        <div id="navDevelopers" class="accordionCategory accordionButton">Developers</div>
        <div id="navDevelopersDiv" class="accordionContent"></div>

<!-- 
        <div id="navBeta" class="accordionCategory accordionButton">Beta</div>
        <div id="navBetaDiv" class="accordionContent"></div>
         -->
        
    </div>
    
    <div style="width:160px; clear: both; border-top: 1px dashed #DBDFDF;"></div>
    <div style="margin-top: 12px; margin-left: 6px;">
        <form id="emailForm" name="icpsignup" action="http://app.icontact.com/icp/signup.php" method="post">
            <div style="padding-bottom: 6px;">Get Updates:</div>
            <input type="text" id="quickSignupEmail" tabindex="1" name="fields_email" value="Email Address" class="swap_value" alt="Email Address" />
            
            <input type=hidden id="thankYouInput" name=redirect value="http://www.littleshoot.org/emailThanks"/>
            <input type=hidden id="errorInput" name=errorredirect value="http://www.littleshoot.org/home"/>
            <input type=hidden name="listid" value="5418">
            <input type=hidden name="specialid:5418" value="TRQ4">
            <input type=hidden name=clientid value="158077">
            <input type=hidden name=formid value="491">
            <input type=hidden name=reallistid value="1">
            <input type=hidden name=doubleopt value="0">
            
            <br>
            <div style="margin-top: 4px;">
                <input class="simpleButton" type="submit" alt="Submit" name="submit" value="Submit"/>
            </div>
        </form>
        
    </div>
    <div style="width:156px;text-align:center;padding-top:6px; margin-left: 4px;">
        <embed src="http://twitter.com/flash/twitter_badge.swf"  flashvars="color1=8357253&type=user&id=19122454" quality="high" width="156" height="176" name="twitter_badge" align="middle" allowScriptAccess="always" wmode="transparent" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" /><br><a style="font-size: 10px; color: #7F8585; text-decoration: none" href="http://twitter.com/littleshoot">follow littleshoot at http://twitter.com</a>
    </div>
</div>


