<div class="contentBodySection normal" id="beta">

    <div style="float:right; padding: 20px; width: 400px;" >
        <div>
            <img src="images/me_programming_small.jpg"/>
        </div>
        <div class="normalSmall" style="text-align:center;">
            LittleShoot's Adam Fisk hard at work on LittleShoot 0.90.<br>Photo courtesy of <a href="http://hollywoodfourpointzero.wordpress.com/">Tom Benedek</a>.
        </div>
    </div>
    
    The LittleShoot 0.90 Beta is the most important release in LittleShoot's short history. It marks
    the beginning of LittleShoot as what we hope becomes the "P2P Browser Plugin" of the Internet, the
    first true NPAPI browser plugin to support BitTorrent, Gnutella, and LittleShoot's own p2p protocols. LittleShoot 0.90 Beta includes:<br><br>
    
    <ul>
        <li>The <strong>first</strong> true <strong>P2P browser plugin ever</strong> created (NPAPI and ActiveX)</li>
        <li>Debut of <strong>LittleBit</strong>, BitTorrent .torrent files handled directly in your browser without opening an external application</li>
        <li><strong>Streaming</strong> torrent downloads</li>
        <li>Integrated <strong>IsoHunt</strong> searches alongside the existing YouTube, LimeWire, Flickr, and Yahoo</li>
        <li>New downloads tab consolidating your downloads in one place</li>
        <li>Small memory footprint</li>
        <li>Smaller installers on <strong>CloudFront</strong> -- now 13MB on OSX and soon to be 8MB on Windows (we're having compression corruption issues at the moment!)</li>
    </ul>
    
    <center>
    <div style="width: 300px; height: 40px; clear: both;">
        <div class="buttonDiv betaDownloadLink" style="min-height: 40px; margin-bottom: 20px;">
            <div class="buttonNotOver">
                <span style="color: #6e9f1a;">DOWNLOAD</span> <span style="color: #8abc33;">LITTLESHOOT BETA</span>
                <div class="sprite-buttonTopLeftCorner buttonTopLeftCorner spriteButton buttonCorner"></div>
                <div class="sprite-buttonLeftBorder buttonLeftBorder buttonEdgeVertical"></div>
                <div class="sprite-buttonBottomLeftCorner buttonBottomLeftCorner spriteButton buttonCorner" style="top:44px"></div>
                
                <div class="sprite-buttonTopBorder buttonTopBorder buttonEdgeHorizontal spriteButtonHorizontal"></div>
                <!-- Top styling is for IE -->
                <div class="sprite-buttonBottomBorder buttonBottomBorder buttonEdgeHorizontal spriteButtonHorizontal" style="top:44px"></div>
                
                <div class="sprite-buttonTopRightCorner buttonTopRightCorner spriteButton buttonCorner"></div>
                <div class="sprite-buttonRightBorder buttonRightBorder buttonEdgeVertical"></div>
                <div class="sprite-buttonBottomRightCorner buttonBottomRightCorner spriteButton buttonCorner" style="top:44px"></div>
                
            </div>
            
            <div class="buttonOver" style="display:none;">
                <span style="color: black;">DOWNLOAD</span> <span style="color: #646464;">LITTLESHOOT BETA</span>
                <div class="sprite-buttonTopLeftCornerOver buttonTopLeftCorner spriteButton buttonCorner"></div>
                <div class="sprite-buttonLeftBorderOver buttonLeftBorder buttonEdgeVertical"></div>
                <div class="sprite-buttonBottomLeftCornerOver buttonBottomLeftCorner spriteButton buttonCorner" style="top:44px"></div>
                
                <div class="sprite-buttonTopBorderOver buttonTopBorder buttonEdgeHorizontal"></div>
                <!-- Top styling is for IE -->
                <div class="sprite-buttonBottomBorderOver buttonBottomBorder buttonEdgeHorizontal" style="top:44px"></div>
                
                <div class="sprite-buttonTopRightCornerOver buttonTopRightCorner spriteButton buttonCorner"></div>
                <div class="sprite-buttonRightBorderOver buttonRightBorder buttonEdgeVertical"></div>
                <div class="sprite-buttonBottomRightCornerOver buttonBottomRightCorner spriteButton buttonCorner" style="top:44px"></div>
            </div>
        </div>
    </div>
    </center>
    
    <br>
    <br>
    This release is also the result of an intense collaboration and "melding of the minds" between LittleShoot
    founder <strong>Adam Fisk</strong> and <strong>Julian Cain</strong>, the developer of BitRocket and a spectacular engineer who has worked on 
    more p2p applications than probably anyone else alive, including Poisoned, Kazaa, XFactor, Pando, 
    BitTorrent Inc., and Gizmo Project. The result is a massive overhaul of how LittleShoot interacts with 
    your browser. The <strong>installation</strong> experience is <strong>taken straight from Flash</strong>, and it integrates with your
    browser as tightly as Flash does, in our case enabling p2p services instead of Flash movies.<br><br>
    
    You can see the fruits of this integration most directly in <strong>LittleBit</strong>, LittleShoot's new BitTorrent
    component. LittleBit will display your BitTorrent downloads directly in the browser without going through 
    the laborious process of downloading a torrent file and choosing an external application to open it.<br><br>
    
    Keep in mind this is beta that we really appreciate you trying out. There are some issues we're aware of
    on Windows in particular. Most importantly, we've temporarily disabled the LimeWire integration due to
    stability issues, but only on Windows. This should be back shortly, but we wanted to make sure the components
    we give you were as rock-solid as possible, and the LimeWire component wasn't quite there.<br><br>
    
    Whew! Enough chit-chat! Just <a class="betaDownloadLink" href=""><strong>DOWNLOAD IT!</strong></a>.
    
</div>
