
<div class="contentBodySection normalMedium" id="buyPro">
    
    Welcome to LittleShoot Pro. LittleShoot Pro gives gives you:
    
    <ul>
        <li>Faster Downloads</li>
        <li>More Search Results</li> 
        <li>Access to the World's Best Publishing Platform</li>
        <li>No Ads Ever</li>
    </ul> 
    
    All LittleShoot Pro billing goes through Amazon. That way you can use all 
    your existing Amazon payment information to purchase LittleShoot Pro quickly 
    and securely without entering your credit card for the 10,000th time. With
    LittleShoot Publishing, we also take advantage of Amazon's computing infrastructure to
    store your files and to give you data on how many people are accessing your 
    files.
</div>
