<div class="contentBodySection normal" id="developers">
    LittleShoot is open source and based on open protocols. To get started 
    quickly, you can do any of the following:
    
    <ul>
        <li><a href="code">Check out the code and run LittleShoot</a></li>
        <li><a href="http://groups.google.com/group/littleshoot-developers/topics" target="_blank">Join the developer mailing list</a></li>
        <li><a href="http://dev.littleshoot.org:8081" target="_blank">Have a look at outstanding bugs/tasks or report a new one</a></li>
        <li><a href="http://1.latest.littleshootbugs.appspot.com/" target="_blank">See what bugs users are seeing in the field</a></li>
    </ul>
    

    LittleShoot includes code in many languages, including:
    
    <ul>
        <li>Java</li>
        <li>Python</li>
        <li>C++</li>
        <li>JavaScript</li>
        <li>ActionScript</li>
    </ul>
    
    We also use the following frameworks and libraries, with many more not listed:
    
    <ul>
        <li><a href="http://code.google.com/appengine/">Google App Engine</a></li>
        <li><a href="http://code.google.com/p/app-engine-patch/">Google App Engine Patch</a></li>
        <li><a href="http://aws.amazon.com/">Amazon Web Services (Most of 'em!)</a></li>
        <li><a href="http://www.djangoproject.com/">Django</a></li>
        <li><a href="http://www.springsource.org/">Spring</a></li>
        <li><a href="http://dojotoolkit.org/">Dojo</a></li>
        <li><a href="http://jquery.com/">JQuery</a></li>
        <li><a href="http://www.libtorrent.org/">Lib Torrent</a></li>
        <li><a href="http://www.mortbay.org/jetty/">Jetty</a></li>
        <li><a href="http://nsis.sourceforge.net/Main_Page">NSIS</a></li>
        <li><a href="http://beebole.com/pure/index.html">PURE JavaScript Templating</a></li>
    </ul>
    
    LittleShoot uses protocols ranging from
    SIP/STUN/TURN/ICE to BitTorrent, Gnutella, and the old classic, HTTP. In all cases, LittleShoot
    strives to use the best tool for the job, whether it's a framework, external open source project,
    protocol, or programming language. If you think we can do better along any one of these vectors, let us 
    know on the developer mailing list.
    <br><br>
    The breadth of what constitutes "LittleShoot" means there are many opportunities for you to 
    contribute your skills. Whether you're a coding Ninja in JavaScript, Python, C++, or Java, we've
    likely got a battle you could join. We strive to keep code at a high quality and well organized, and we constantly 
    encourage your feedback and improvements.
    <br><br>
    Also keep in mind we're completely self-funded and do this because we think it's how the 
    Internet should work. Translation: we need all the help we can get!
    <br><br>
    Welcome to LittleShoot.
</div>
