    

<div id="twitterTooltip" class="tooltipElement">
    <img style="float: left; padding: 6px;" src="images/littleshoot_logo_small.png"/>
    
    <div>
        <strong>Shoot this link to your Twitter followers!</strong> 
    
        <br><br>
        We call it "LittleTwit," and it's the easiest way to link big files on the Internet.
    
        <br><br>
        You can customize your tweet however you like. We just provide the link to this file and the #shoot hashtag with a default message.
        <br><br>
        Your friends who have LittleShoot will start downloading the file right away, while users who don't have LittleShoot will be 
        prompted for a quick LittleShoot install before getting the file automatically. 
        
    </div>
</div>

<div id="fbTooltip" class="tooltipElement">
    <img style="float: left; padding: 6px;" src="images/littleshoot_logo_small.png"/>
    
    <div>
    <strong>Post a link to this file on Facebook!</strong> 
    
    <br><br>
    It's the easiest way to link big files on the Internet.
    
    <br><br>
        <div style="clear: both;">
        Your friends who have LittleShoot will start downloading the file right away, while users who don't have LittleShoot will be prompted for a quick LittleShoot install before getting the file automatically.
        </div>
    </div>
</div>

<div id="diggTooltip" class="tooltipElement">
    <img style="float: left; padding: 6px;" src="images/littleshoot_logo_small.png"/>
    
    <div>
    <strong>Digg this file without leaving the page!</strong> 
    
    <br><br>
    This will open in Digg's new "plugin" frame at the top of the page, and the Digg readers out there will get a link to this file.
    </div>
</div>

        <div id="downloadsTemplate" class="downloadsDiv downloadDir@id">
            <div class="downloads singleDownload id@id uri@class+ uri@rel title@linkTitle">
                <div class="mainDownloadDiv" style="display: inline-block;">
                    <div class="downloadDetails searchResultDetails downloadLine">
                        <div class="title normalBoldMedium downloadLine"></div>
                        
                        <div class="downloadLine">
                            <span class="downloadDetail sizeDetail size">Size: </span>
                            <span class="downloadDetail numFiles">Num Files: </span>
                            
                            <span class="downloadDetail numSourcesDetail downloadNumSources+">Sources: </span>
                        </div>
                    </div>
                    
                    <div class="downloadStopOuter ui-helper-clearfix" >
                        <div style="height: 1.1em; float: left;" class="progressBarDiv"></div>
                        <div style="margin-left: 4px; float: left;">
                            <div style="float: left;" class="downloadPauseResumeIcon downloadIcon ui-state-default ui-corner-all uri@rel" title="Pause Download">
                                <span class="ui-icon ui-icon-pause"></span>
                            </div>
                            <div style="float: left; margin-left: 4px;" class="downloadStopIcon downloadIcon ui-state-default ui-corner-all downloadIcon uri@rel" title="Cancel Download">
                                <span class="ui-icon ui-icon-close"></span>
                            </div>
                        </div>
                    </div>
                    <div class="searchResultDetails downloadLine downloadStatus"></div>
                    <div class="searchResultDetails timeRemaining">Remaining: </div>
                </div>
                <div class="downloadOptionsDiv searchResultDetails" style="display: inline-block;">
                    <div class="streamStatusDiv"></div>
                    <div class="downloadOptionsMenu" style="display:none;">
                    </div>
                </div>
                
                <div class="downloadSeparator"></div>
            </div>
        </div>
        