
    <div id="downloadMacContentBodySection" class="contentBodySection">
        <!-- Mac Download section 1 -->
        <div class="downloadSection">
            <div class="sectionMarker sprite-sectionMarkerBlock">1</div>
            <div class="downloadDescDiv">
                <span class="normalBold">
                    Download the LittleShoot Plugin<br><br>
                </span>
                <span class="normal">
                    If you haven't already downloaded it, you can download the LittleShoot P2P Plugin from 
                    <strong><a class="downloadLink" href="#">here</a></strong>.<br><br>
                </span>
            </div>
        </div>
        <!-- Mac Download section 2 -->
        <div class="downloadSection">
            <div class="sectionMarker sprite-sectionMarkerBlock">
                2
            </div>
            <div class="downloadDescDiv">
                <span class="normalBold">
                    Select Where to Download the Installer<br><br>
                </span>
                <span class="normal">
                    First, save the installer to your computer. It's often a good idea 
                    to save it to your desktop, where you can find it easily
                    afterwards.
                    <br><br>
                </span>
            </div>
        </div>
        
        <!-- Mac Download section 3 -->
        <div class="downloadSection">
            <div class="sectionMarker sprite-sectionMarkerBlock">
                3
            </div>
            <div class="downloadDescDiv">
                <span class="normalBold">
                    Double Click the Downloaded File
                    <br><br>
                </span>
                <span class="normal">
                    The file will be called "LittleShoot-[version].dmg". When you open it, you
                    should see the image below. When you see this image, follow the
                    instruction to double click the "LittleShoot.mpkg" icon. This 
                    should open automatically if you're using Safari.
                    <br><br>
                    <img src="http://littleshootimages.appspot.com/images/downloadImageMac1.png" width="492"/>
                </span>
            </div>
        </div>
        
        <!-- Mac Download section 4 -->
        <div class="downloadSection">
            <div class="sectionMarker sprite-sectionMarkerBlock">
                4
            </div>
            <div class="downloadDescDiv">
                <span class="normalBold">
                    Follow the Installer Instructions
                    <br><br>
                </span>
                <span class="normal">
                    The installer will run you through the steps of installing 
                    LittleShoot. Continue along each step. You should see the images
                    below, although they may appear slightly differently if you've
                    previously installed an earlier version of LittleShoot on your 
                    computer.
                    <br><br>
                    <img src="http://littleshootimages.appspot.com/images/downloadImageMac2.png" width="492"/>
                    <br><br>
                    <img src="http://littleshootimages.appspot.com/images/downloadImageMac3.png" width="492"/>
                </span>
            </div>
        </div>
        
        <!-- Mac Download section 5 -->
        <!-- 
        <div class="downloadSection">
            <div class="sectionMarker sprite-sectionMarkerBlock">
                5
            </div>
            <div class="downloadDescDiv">
                <span class="normalBold">
                    Enter Your Mac OS X Account Password
                    <br><br>
                </span>
                <span class="normal">
                    At this step, you'll need to enter your OSX Administrator account 
                    password. This is not a password for LittleShoot, which can be 
                    confusing (since LittleShoot doesn't require you to create a password).
                    Rather, it's your user password for OSX itself. Enter it here. 
                    <br><br>
                    <img src="http://littleshootimages.appspot.com/images/downloadImageMac4Password.png" width="434"/>
                </span>
            </div>
        </div>
         -->
        
        <!-- Mac Download section 5 -->
        <div class="downloadSection">
            <div class="sectionMarker sprite-sectionMarkerBlock">
                5
            </div>
            <div class="downloadDescDiv">
                <span class="normalBold">
                    OK, We're Done!
                    <br><br>
                </span>
                <span class="normal">
                    If everything went according to plan, you should see the screen
                    below. At this point, LittleShoot is running on your computer
                    as a helper application for your browser. You can now go back
                    to the LittleShoot web site and start:
                    
                    <ol>
                        <li>Publishing Your Files</li>
                        <li>Searching for Files</li>
                        <li>Downloading Files</li>
                    </ol>  
        
                    A new browser window should open to the LittleShoot site automatically. If it
                    doesn't, click <a href="http://www.littleshoot.org">here</a>.
                    <br><br>
                    <img src="http://littleshootimages.appspot.com/images/downloadImageMac5.png" width="492"/>
                    
                    <br><br>
                    As always, we sincerely hope you enjoy using LittleShoot. If you have
                    any problems at all or any suggestions, please don't hesitate to visit our 
                    <a href="http://groups.google.com/group/littleshooters/">forums</a>.
                    <br><br>
                    Welcome to the LittleShoot community!
                </span>
            </div>
        </div>
    </div>