<div id="downloadWinContentBodySection" class="contentBodySection">
    <!-- Windows Download section 1 -->
    <div class="downloadSection">
        <div class="sectionMarker sprite-sectionMarkerBlock">
            1
        </div>
        <div class="downloadDescDiv">
            <span class="normalBold">
                Download the LittleShoot Plugin<br><br>
            </span>
            <span class="normal">
                This page describes all the steps to install LittleShoot.  If you're
                familiar with installers, feel free to just run through the install
                yourself.  Note the screenshots on your computer may differ slightly
                depending on your browser.<br><br>
                
                If you haven't already downloaded it, you can download the LittleShoot P2P 2.0 Plugin from 
                <strong><a class="downloadLink" href="#">here</a></strong>.<br><br>
            </span>
        </div>
    </div>
    
    <!-- Windows Download section 2 -->
    <div class="downloadSection">
        <div class="sectionMarker sprite-sectionMarkerBlock">
            2
        </div>
        <div class="downloadDescDiv">
            <span class="normalBold">
                Select Where to Download the Installer<br><br>
            </span>
            <span class="normal">
                Save the installer to your computer.  It's often a good idea 
                to save it to your desktop, where you can find it easily
                afterwards.
                <br><br>
                <img src="http://littleshootimages.appspot.com/images/downloadImageWin1.jpg" width="425"/>
            </span>
        </div>
    </div>
    
    <!-- Windows Download section 3 -->
    <div class="downloadSection">
        <div class="sectionMarker sprite-sectionMarkerBlock">
            3
        </div>
        <div class="downloadDescDiv">
            <span class="normalBold">
                Open the Installer<br><br>
            </span>
            <span class="normal">
                Open the downloads window and click "Open" next to your
                LittleShoot download.  You can also navigate to your desktop
                or wherever you saved LittleShoot and open it from there.
                <br><br>
                
                <!--
                    TODO: This image is FireFox-specific.
                -->
                <img src="http://littleshootimages.appspot.com/images/downloadImageWin2.jpg" width="428"/>
            </span>
        </div>
    </div>
    
    <!-- Windows Download section 4 -->
    <div class="downloadSection">
        <div class="sectionMarker sprite-sectionMarkerBlock">
            4
        </div>
        <div class="downloadDescDiv">
            <span class="normalBold">
                Follow the Setup Wizard<br><br>
            </span>
            <span class="normal">
                Once the LittleShoot wizard appears, click "Install".
                <br><br>
                <img src="http://littleshootimages.appspot.com/images/downloadImageWinWizard1.jpg" width="513"/>
                <br><br>
                When the setup wizard is done, click "Finish".
                <br><br><br>
                <img src="http://littleshootimages.appspot.com/images/downloadImageWinWizard2.jpg" width="513"/>
                <br><br><br>
                At this point LittleShoot is already started and running in the 
                background.  A new browser window should open to the LittleShoot site 
                automatically, although it may take a second while LittleShoot is starting.  If it
                doesn't, click <a href="http://www.littleshoot.org">here</a>.
                <br><br><br><br>
            </span>
        </div>
    </div>
</div>