
<div id="downloadContentBodySection" class="contentBodySection">
    <div>
        <br>
        <div class="normal">
            LittleShoot gives you an incredibly powerful tool for finding and downloading the files you want. 
            
            Let's break it down:
            <!-- 
            Both are pretty awesome, but pro gives you faster downloads, more search results, 
            and just makes you feel good all over about supporting open source software and 
            a future Internet based on open standards (feelings not guaranteed!).<br><br>
            
            Let's break down the differences:
             -->
        </div>
        
        <br>
    {% include "downloadChartNoPro.html" %}
    
    
        <div class="normal">
            <p>
            How does LittleShoot work? It's a browser plugin just like Flash, so LittleShoot runs on any web site
            that adds it. When you click on a BitTorrent link, for example, LittleShoot is the "handler" for that
            link and starts your download right up in the browser. When you close the browser window, LittleShoot
            stays running and downloading your files until you tell it not to using the system tray control on Windows (bottom right of your screen)
            or the status item control (top right buttons on your screen) on OSX. You can always check in on your downloads in the
            LittleShoot downloads tab at <a href="downloads">http://www.littleshoot/downloads</a>.
            </p>
            <p>
            You can also use LittleShoot to search for the files you want, whether on YouTube, IsoHunt, LimeWire, or Flickr. To search any time, just go 
            to the search tab at <a href="search">http://www.littleshoot/search</a>.
            </p>
            
            <p>
            But first you need the plugin! Be sure to <a class="freeLink" href="#">download and install it first</a>.
            </p>
           
            <!-- 
            We'll still love you over here at LittleShoot regardless of whether you use Pro or Standard, 
            and we'll always strive to give you the best darn searching, downloading, and publishing tool we possibly can.
             -->
        </div>
    </div>
</div>