
<div class="normal">
    <table id="downloadTable" border="0">
    
        <tr><th colspan="3" class="downloadChartSepTop"></th></tr>
        <tr><th scope="col"></th>                            <th scope="col" class="downloadChartHeader" style="color: #5f9640;">Professional Version</th>   <th scope="col" class="downloadChartHeader" style="color: #5f9640;">Standard Version</th></tr>
        <tr><th colspan="3" class="downloadChartSepBottom"></th></tr>
        <tr><th scope="row">Price</th>                    <td>$34.95</td>                                          <td>Free, ad-supported</td></tr>
        <tr><th scope="row">Searching*</th>         <td>More Results</td>               <td><img src="images/checkmark.png"/></td></tr>
        <tr><th scope="row">Downloading**</th>          <td>Faster</td>               <td><img src="images/checkmark.png"/></td></tr>
        <tr><th scope="row">No Ads Ever</th>                 <td><img src="images/checkmark.png"/></td>               <td></td></tr>
        <tr><th scope="row">Free Tech Support</th>           <td><img src="images/checkmark.png"/></td>               <td></td></tr>
        <tr><th scope="row">One Year of Free Updates</th>    <td><img src="images/checkmark.png"/></td>               <td></td></tr>
        <tr><th scope="row">30 Day Money-Back Guarantee***</th> <td><img src="images/checkmark.png"/></td>               <td></td></tr>
        <tr><th scope="row">Support Open Source</th>         <td><img src="images/checkmark.png"/></td>               <td></td></tr>
        <tr><th scope="row">Support Open Protocols</th>      <td><img src="images/checkmark.png"/></td>               <td></td></tr>
        <tr><th scope="row"></th>      <td><div class="darkButton proLink">DOWNLOAD <span style="color: #c8fb6d;">PRO</span><div></td>               <td><div class="darkButton freeLink">DOWNLOAD STANDARD<div></td></tr>
        <tr><th colspan="3" class="downloadChartSepTop"></th></tr>
    </table>
    
    <div style="font-size: 10px;">
        * The free version limits search results from each search source to 20 files while the pro version always gives you as many results as it can find.<br>
        ** Your downloads will typically be about 20% faster for p2p downloads with Pro, as it simply downloads from about 20% more sources.<br>
        *** With our 30 day, money-back guarantee, we'll refund all of your money for LittleShoot Pro 
        if you're unsatisfied for any reason, no questions asked (well, OK, we might ask you what you didn't like so we can fix it!).
    </div>
</div>
