
<div class="normal">
    <table id="downloadTable" border="0">
    
        <tr><th colspan="3" class="downloadChartSepTop"></th></tr>
        <tr><th scope="col"></th>                            <th scope="col" class="downloadChartHeader" style="color: #5f9640;">What's it Got?</th> </tr>
        <tr><th colspan="3" class="downloadChartSepBottom"></th></tr>
        <tr><th scope="row">Searching</th>         <td>Searches IsoHunt, YouTube, LimeWire, Flickr, Yahoo</td>                                           </tr>
        <tr><th scope="row">Downloading</th>          <td>Ultra-fast Downloading from BitTorrent and Gnutella right in Your Browser</td>                                             </tr>
        <tr><th scope="row">BitTorrent Plugin</th>             <td>The First and Only True BitTorrent Browser Plugin - LittleShoot Handles your Torrents Right in the Browser</td>               </tr>
        <tr><th scope="row">Nimble</th>              <td>Lightning-Quick Searching and Downloading Come with Low Memory and CPU Use</td>               </tr>
        <tr><th scope="row">Easy</th>                <td>Self-Proclaimed Easiest P2P Application on the Planet</td>               </tr>
        <tr><th scope="row">Open Source</th>         <td><img src="images/checkmark.png"/></td>               </tr>
        <tr><th scope="row">Open Protocols</th>      <td><img src="images/checkmark.png"/></td>               </tr>
        <tr><th scope="row"></th>      <td><div class="darkButton freeLink">DOWNLOAD</div></td></tr>
        <tr><th colspan="3" class="downloadChartSepTop"></th></tr>
    </table>
</div>

