<div id="rollover_tryit">
<div class="tryitunit">
    <a href="http://mail.google.com/mail/?view=cm&fs=1&to=post@posterous.com&su=My+First+Blog+Post&body=Replace+the+subject+line+and+body+with+your+first+blog+post+and+hit+send%21+Include+pictures%2C+an+mp3%2C+or+anything+else+you+want+to+share.+It%27s+just+that+simple.&ui=1" target="_blank"  onclick="pageTracker._trackPageview('/emailing/gmail');">gmail</a>
    <a id="testHref" href="">test</a>
</div>
<div class="tryitunit">

    <a href="http://www.hotmail.msn.com/secure/start?action=compose&to=post@posterous.com&subject=My+First+Blog+Post&body=Replace+the+subject+line+and+body+with+your+first+blog+post+and+hit+send%21+Include+pictures%2C+an+mp3%2C+or+anything+else+you+want+to+share.+It%27s+just+that+simple." target="_blank"  onclick="pageTracker._trackPageview('/emailing/hotmail');">hotmail</a>
</div>
<div class="tryitunit">
    <a href="http://compose.mail.yahoo.com/?To=post@posterous.com&Subject=My+First+Blog+Post&body=Replace+the+subject+line+and+body+with+your+first+blog+post+and+hit+send%21+Include+pictures%2C+an+mp3%2C+or+anything+else+you+want+to+share.+It%27s+just+that+simple." target="_blank"  onclick="pageTracker._trackPageview('/emailing/yahoomail');">yahoo</a>
</div>      
<div class="tryitunit">
    <a href="http://webmail.aol.com/25045/aol/en-us/Mail/compose-message.aspx?to=post@posterous.com&subject=My+First+Blog+Post&body=Replace+the+subject+line+and+body+with+your+first+blog+post+and+hit+send%21+Include+pictures%2C+an+mp3%2C+or+anything+else+you+want+to+share.+It%27s+just+that+simple." target="_blank"  onclick="pageTracker._trackPageview('/emailing/aolmail');">aol</a>
</div>
</div>

<p style="font-size: 12px; color: #333; margin-top: 15px;">
...or any other mail program. Posterous works wherever you have email.
    


</p>    
<p style="font-size: 22px; color: #333; margin-top: 5px;">  
    <a href="mailto:post@posterous.com?subject=My First Blog Post&body=Replace the subject line and body with your first blog post and hit send! Include pictures, an mp3, or anything else you want to share. It's just that simple." class="largerfont"  onclick="pageTracker._trackPageview('/emailing/desktopmail');">Email post@posterous.com &raquo;</a>
</p>


