    <div id="statusMessageDiv" class="box normalSmall">
        <center>
        <div id="statusMessage">Scanning for LittleShoot...</div>
        <img id="loadingIconMessage" src="images/arrows_loader_292929.gif" alt="Loading LittleShoot P2P 2.0 File Sharing in the Browser"/>
        </center>
    </div>
    
    <div id="littleShootNoFlash" style="display: none;">
        <a href="http://www.adobe.com/go/getflashplayer">
            <img src="" alt="Get Adobe Flash player" />
        </a>
    </div>