<div id="home" class="contentBodySection">      


<div style="position: relative; padding-left: 77px; top: 26px; color: #999999; font-size: 26px;">
    LittleShoot is:
</div>

<!--  -->
<div class="homeBullets" style="position: relative; padding-left: 30px; top: 26px;">
    <ul>
        <li><strong>Easy</strong> File Sharing in your Browser</li>
        <li><strong>Streaming</strong> P2P Downloads</li>
        <li>Searches of <strong>YouTube</strong>, <strong>BitTorrent</strong>, <strong>LimeWire</strong>, <strong>Flickr</strong>, and More</li>
        <li><strong>BitTorrent</strong> Downloads in your Browser</li>
        <!--<li>Publishing with No Size Limit</li>-->
        <li><strong><a class="openSourceLink" style="text-decoration: underline">Open Source</a></strong></li>
    </ul>
 
    <div style="clear: both; position: relative; padding-left: 30px; top: 10px;">
        To get started, <strong><a class="freeLink" href="#">download and install LittleShoot</a></strong> using the button below.
    </div>

    <br>
</div>


<div id="homeButtonDiv" style="visibility: none">

<!--  
    <div id="buttonDivPro" class="buttonDiv" style="min-height: 40px; margin-bottom: 20px;">
        <div class="buttonNotOver">
            <span style="color: #6e9f1a;">DOWNLOAD</span> <span style="color: #8abc33;">LITTLESHOOT PRO</span>
            <div class="sprite-buttonTopLeftCorner buttonTopLeftCorner spriteButton buttonCorner"></div>
            <div class="sprite-buttonLeftBorder buttonLeftBorder buttonEdgeVertical"></div>
            <div class="sprite-buttonBottomLeftCorner buttonBottomLeftCorner spriteButton buttonCorner" style="top:44px"></div>
            
            <div class="sprite-buttonTopBorder buttonTopBorder buttonEdgeHorizontal spriteButtonHorizontal"></div>
            <div class="sprite-buttonBottomBorder buttonBottomBorder buttonEdgeHorizontal spriteButtonHorizontal" style="top:44px"></div>
            
            <div class="sprite-buttonTopRightCorner buttonTopRightCorner spriteButton buttonCorner"></div>
            <div class="sprite-buttonRightBorder buttonRightBorder buttonEdgeVertical"></div>
            <div class="sprite-buttonBottomRightCorner buttonBottomRightCorner spriteButton buttonCorner" style="top:44px"></div>
            
        </div>
        
        <div class="buttonOver" style="display:none;">
            <span style="color: black;">DOWNLOAD</span> <span style="color: #646464;">LITTLESHOOT PRO</span>
            <div class="sprite-buttonTopLeftCornerOver buttonTopLeftCorner spriteButton buttonCorner"></div>
            <div class="sprite-buttonLeftBorderOver buttonLeftBorder buttonEdgeVertical"></div>
            <div class="sprite-buttonBottomLeftCornerOver buttonBottomLeftCorner spriteButton buttonCorner" style="top:44px"></div>
            
            <div class="sprite-buttonTopBorderOver buttonTopBorder buttonEdgeHorizontal"></div>
            <div class="sprite-buttonBottomBorderOver buttonBottomBorder buttonEdgeHorizontal" style="top:44px"></div>
            
            <div class="sprite-buttonTopRightCornerOver buttonTopRightCorner spriteButton buttonCorner"></div>
            <div class="sprite-buttonRightBorderOver buttonRightBorder buttonEdgeVertical"></div>
            <div class="sprite-buttonBottomRightCornerOver buttonBottomRightCorner spriteButton buttonCorner" style="top:44px"></div>
        </div>
    </div>
    
-->
    
    <div id="buttonDivFree" class="buttonDiv" style="min-height: 40px">
        <div class="buttonNotOver">
            <span style="color: #6e9f1a;">DOWNLOAD</span> <span style="color: #8abc33;">LITTLESHOOT</span>
            <div class="sprite-buttonTopLeftCorner buttonTopLeftCorner spriteButton buttonCorner"></div>
            <div class="sprite-buttonLeftBorder buttonLeftBorder buttonEdgeVertical"></div>
            <div class="sprite-buttonBottomLeftCorner buttonBottomLeftCorner spriteButton buttonCorner" style="top:44px"></div>
            
            <div class="sprite-buttonTopBorder buttonTopBorder buttonEdgeHorizontal spriteButtonHorizontal"></div>
            <div class="sprite-buttonBottomBorder buttonBottomBorder buttonEdgeHorizontal spriteButtonHorizontal" style="top:44px"></div>
            
            <div class="sprite-buttonTopRightCorner buttonTopRightCorner spriteButton buttonCorner"></div>
            <div class="sprite-buttonRightBorder buttonRightBorder buttonEdgeVertical"></div>
            <div class="sprite-buttonBottomRightCorner buttonBottomRightCorner spriteButton buttonCorner" style="top:44px"></div>
            
        </div>
        
        <div class="buttonOver" style="display:none;">
            <span style="color: black;">DOWNLOAD</span> <span style="color: #646464;">LITTLESHOOT</span>
            <div class="sprite-buttonTopLeftCornerOver buttonTopLeftCorner spriteButton buttonCorner"></div>
            <div class="sprite-buttonLeftBorderOver buttonLeftBorder buttonEdgeVertical"></div>
            <div class="sprite-buttonBottomLeftCornerOver buttonBottomLeftCorner spriteButton buttonCorner" style="top:44px"></div>
            
            <div class="sprite-buttonTopBorderOver buttonTopBorder buttonEdgeHorizontal"></div>
            <div class="sprite-buttonBottomBorderOver buttonBottomBorder buttonEdgeHorizontal" style="top:44px"></div>
            
            <div class="sprite-buttonTopRightCornerOver buttonTopRightCorner spriteButton buttonCorner"></div>
            <div class="sprite-buttonRightBorderOver buttonRightBorder buttonEdgeVertical"></div>
            <div class="sprite-buttonBottomRightCornerOver buttonBottomRightCorner spriteButton buttonCorner" style="top:44px"></div>
            
        </div>
    </div>
    
    <div id="proFree" style="position: absolute; left: 300px; top: 0px; margin-bottom:14px; color: #646464; font-size: 16px; width: 320px; z-index:10000;">
        
        <div id="proBullets" class="comparisonBullets" style="display: none; position: absolute; top: -54px; left: 0x;">
            <ul>
                <li><span class="ui-icon ui-icon-check comparisonItem"></span><strong>Faster</strong> Downloads</li>
                <li><span class="ui-icon ui-icon-check comparisonItem"></span>More Search Results</li>
                <li><span class="ui-icon ui-icon-check comparisonItem"></span>No Ads Ever</li>
                <li><span class="ui-icon ui-icon-check comparisonItem"></span><strong>Free</strong> Tech Support</li>
                <li><span class="ui-icon ui-icon-check comparisonItem"></span><strong>$34.95</strong> for One Year of Pro Updates</li>
                <li><span class="ui-icon ui-icon-check comparisonItem"></span>Better Publishing (Coming Soon!)</li>
                <li><span class="ui-icon ui-icon-check comparisonItem"></span>Support <strong>Open Source</strong> Software</li>
                <li><span class="ui-icon ui-icon-check comparisonItem"></span>Support <strong>Open Protocols</strong></li>
            </ul>
        </div>
        
        <div id="freeBullets" class="comparisonBullets" style="display: none; position: absolute; top: 0px; left: 0px; width:240px; text-align: center;">
            <ul>
                <li>Buy Pro to Support <br><strong>Open Source</strong> and <strong>Open Protocols</strong>!!</li>
            </ul>
        </div>
    </div>
</div>

<!-- 
<div style="clear: both; position: relative; padding-left: 50px; top: 174px; color: #646464; font-size: 14px;">
    To learn the difference, take a look at the <a class="comparisonChartLink" style="color: #99e426;" href="#">Comparison Chart</a>.
</div>
 
<div style="clear: both; position: relative; padding-left: 50px; top: 100px; color: #646464; font-size: 14px;">
    Help support LittleShoot, open source software, and open protocols. <a class="donateLink" style="color: #99e426;" href="#">PLEASE DONATE WHATEVER YOU CAN</a>!
</div>
-->

{% include "pro.html" %}

    <div id="homeBanner" style="clear: both; position: relative; padding-left: 50px; top: 90px; color: #646464; font-size: 14px;"></div>
    
    <div id="techCrunchVideoDiv" style="clear: both; position: relative; left: 50px; top: 116px; margin-bottom: 4px; color: #646464; font-size: 14px; display: none;">
        Want to learn more? Watch our <a rel="#videoOverlay" id="techCrunchVideoLink" style="color: #99e426; text-decoration: underline; cursor:pointer;">TechCrunch Video</a>.
    </div>
    
    <div id="nyTimesBanner" style="display:none;">
        <div id="nyTimesBannerLogo"></div>
        <div>"Attempts to bridge [the gap between p2p and the web] have been getting more and more sophisticated in recent months, with plug-ins like <strong>LittleShoot</strong> bringing BitTorrent to the browser..."</div>
        <br>
        <div>- Janko Roettgers, <a href="http://nytimes.com/external/gigaom/2009/04/25/25gigaom-future-of-p2p-what-comes-after-the-pirate-bay-23423.html" title="LittleShoot P2P Browser Plugin in New York Times" target="_blank">New York Times</a>, 
        <a href="http://www.p2p-blog.com/item-1027.html" title="LittleShoot P2P Browser Plugin in P2P Blog Janko Roettgers" target="_blank">P2P Blog</a>, 
        <a href="http://newteevee.com/2009/04/25/future-of-p2p-what-comes-after-the-pirate-bay/" title="LittleShoot P2P Browser Plugin in GigaOm" target="_blank">GigoOm</a>
        </div>
    </div>
    
    <div id="mashableBanner" style="display:none">
        <div id="mashableBannerLogo"></div>
        <br>
        <div>"LittleShoot is a new web-based p2p file sharing site founded by one of the creators of LimeWire that could live up to its pedigree and then some."</div>
        <br>
        <div>- Adam Ostrow, <a href="http://mashable.com/2008/11/21/littleshoot/" title="LittleShoot P2P Browser Plugin on Mashable" target="_blank">Mashable</a></div>
    </div>
    
    <div id="lifehackerBanner" style="display:none">
        <div id="lifehackerBannerLogo"></div>
        <br>
        <div>"LittleShoot plug[s] into virtually any browser on your system for seamless downloads whenever you click on a torrent file."</div>
        <br>
        <div>- Adam Pash, <a href="http://lifehacker.com/5169249/littleshoot-brings-bittorrent-to-any-browser-for-the-uninitiated" title="LittleShoot P2P Browser Plugin on LifeHacker" target="_blank">Life Hacker</a></div>
    </div>

    <div id="cnetBanner" style="display:none">
        <span  id="cnetBannerLogo" style="float: left; padding-right: 10px;"></span>
        <br>
        <div>"Amidst the crowd of peer-to-peer file-sharing options comes an attempt to return file-sharing to its utilitarian 
        roots and away from legal quagmires by emphasizing file-publishing. Free and open-source, LittleShoot is the brainchild of Adam Fisk, 
        a LimeWire developer who wants LittleShoot to be 'like Google for files instead of Web pages.'"</div>
        <br>
        <div>- Seth Rosenblatt, <a href="http://news.cnet.com/8301-17939_109-10195645-2.html" title="LittleShoot P2P Browser Plugin on CNET" target="_blank">CNET</a></div>
    </div>
 
</div>

