    
    <script type="text/javascript">
        var YMPParams = {
            amazonid : "littl08-20",
            parse: false,
            autoplay:true
        };
        
        littleShootConfig = {
            disableAutoLoad : true
        };
    </script>
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>

    <script type="text/javascript">
        djConfig = {
            parseOnLoad: true, 
            preventBackButtonFix: false,
            // This is necessary for xdomain builds.
            dojoIframeHistoryUrl:'http://www.littleshoot.org/iframe_history.html',            
            //baseUrl: '/',
            modulePaths: {'littleshoot': '/littleshoot'}//, 'dijit': '/dijit12/dijit', 'dojo':'/dojo12/dojo'}
        };
    </script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/dojo/1.5/dojo/dojo.xd.js" djConfig="parseOnLoad:true"></script>
    
    
    <script type="text/javascript">var addthis_pub="afisk";</script>
    <script type="text/javascript" src="http://s7.addthis.com/js/200/addthis_widget.js"></script>

