.commonBody
    {
    }
    
    
#main
    {
    position: relative;
    top: 100px;
    width: 540px;
    height: 420px;
    z-index: 200;
    
    /*border-color: #8F9595;*/
    }

#mainTitle
    {
    position: relative;
    top: 60px;
    font-family: verdana, sans-serif;
    text-decoration: none;
    font-size: 30px;
    color: #545454;
    }
    
.displayNone
    {
    display: none;
    }
    
.clearBoth
    {
    clear : both;
    margin : 0px;
    padding : 0px;
    }

.downloadBox
    {
    background: #222222 url('../images/littleshoot.png') no-repeat center;
    }

.loadingLink
    {
    background-image: url('../images/loading_green.gif');
    background-repeat: no-repeat;
    /*background-attachment:fixed;*/
    background-position: bottom center;
    }
    
.downloadLittleShoot
    {
    cursor: pointer;
    }
    
a:link
    {
    color: #dddddd;
    }
    
#littleshootLink
    {
    color:#d4d4d4;
    cursor: pointer;
    text-decoration: underline;
    }

#littleShootLogoDiv
    {
    position: absolute;
    top: 0px;
    width: 380px;
    }
    
#main
    {
    position: absolute;
    top: 0px;
    left: 0px;
    }
    
#downloadingDiv
    {
    position: absolute;
    top: 60px;
    width: 380px;
    /*height: 200px;*/
    left: 0px;
    
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #aaaaaa;
    }
    
#notDownloadingDiv
    {
    position: absolute;
    top: 60px;
    width: 380px;
    /*height: 200px;*/
    left: 0px;
    
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #aaaaaa;
    }

.downloadingText
    {
    font-family: verdana, sans-serif;
    text-decoration: none;
    font-size: 18px;
    color: #848484;
    }
    

#downloadingTextDiv
    {
    margin-bottom: 20px;
    }
    
.downloadLink
    {
    font-family: verdana, sans-serif;
    text-decoration: none;
    font-size: 18px;
    color: #848484;
    cursor: pointer;  
    }
    
#littleshootMessage
    {
    position: relative;
    top: 280px;
    width: 300px;
    font-family: verdana, sans-serif;
    text-decoration: none;
    font-size: 14px;
    color: #848484;    
    }
    
#loadingMessage
    {
    position: relative;
    top: 240px;
    width: 300px;
    font-family: verdana, sans-serif;
    text-decoration: none;
    font-size: 14px;
    color: #545454; 
    }

