    <!-- These give crawlers some inkling of what to do. -->
    <div class="displayNone"> 
        <a href="search" title="Search">Search</a>
        <a href="publish" title="Publish">Publish</a>
        <a href="about" title="Home">Home</a>
        <a href="whatIs" title="What Is LittleShoot?">What is LittleShoot?</a>
        <a href="help" title="Help">Help Using LittleShoot</a>
        <a href="technology" title="Technology">LittleShoot Technology</a>
        <a href="contact" title="Contact">Contact LittleShoot</a>
        <a href="team" title="Team">About LittleShoot</a>
        <a href="download" title="Download LittleShoot">Download</a>
    </div>