<div class="contentBodySection" id="team" >
    <span class="normal"> 
        <div style="clear: left;">       
            LittleShoot is a completely self-funded startup dedicated to making it possible for anyone, large or small, to distribute their content cheaply and 
            efficiently on the Internet. Adam Fisk, the former lead engineer at LimeWire, brought together the LittleShoot team to carry out his vision of a   
            peer-to-peer (p2p) network based on open standards and focused on integrating p2p with the core fabric of the Internet at the protocol level.  
            <br><br>
        </div>
        
        <div style="clear: left;">
            <img style="float: left; margin-right: 20px; margin-bottom: 20px" src="http://littleshootimages.appspot.com/images/me_in_iceland.jpg" width="170"/>
            
            <span class="normalBold">Adam Fisk: Chief Waterer</span>  
            
            <br><br>
            LittleShoot is small, and the world is big and often harsh.  LittleShoot needs constant care.  This is where Adam comes in, 
            attending daily to LittleShoot's every need.  His main focus is the water.  It's amazing how much water the little guy needs.  
            Overwatering is also a constant danger.
            <br><br>
            Feel free to follow Adam's watering activities on <a href="http://www.twitter.com/adamfisk" title="Adam Fisk on Twitter">Twitter</a>.
            <br><br>
            Adam blogs at <a href="http://adamfisk.wordpress.com" title="Adam Fisk's Blog">Route 183</a>.
            <br><br>
        </div>
        
        <div style="clear: left;">
            LittleShoot's advisors include a core group of five: Jerry Charumilind, <a href="http://www.artvote.com/">Brendan Klinger</a>, Yusuke Naito, and 
            <a href="http://www.onliness.org/douglasprice/">Douglas Price</a>. 
        </div>
    </span>
</div> 