{% extends "siteNavBase.html" %}

{% block thanksSelected %}color:black{% endblock %}
{% block content %}
    <div id="acknowledgements" class="toggleable innerContent siteToggle">
        <span class="contentTitle normalBoldBig">
            Acknowledgements
        </span>
        <div class="datum sprite-datumBackground"></div>
        <div id="acknowledgementsContentBody" class="contentBody">
    
<div class="contentBodySection">
    <span class="normalMedium">        
        LittleShoot is the product of a much larger community-wide effort.  The cooperative spirit of the Internet never ceases to astound, and LittleShoot 
        has benefited from countless conversations online and offline, on mailing lists and forums.  
        
        <br><br>
        We'd like to particularly acknowledge some of the open source projects without which LittleShoot would be a far lesser program.  As 
        anyone in the open source community knows well, the Apache project is truly a gift to us all.  LittleShoot takes particular advantage of 
        <a href="http://mina.apache.org">MINA</a>, a brilliant library for quickly writing protocol implementations.  We use it as the base networking layer for SIP, STUN, TURN, and ICE.  
        Trustin Lee works tirelessly to make MINA such a resounding success.  We also make extensive use of the great HTTP Client and the Jakarta Commons projects, and 
        of course httpd and Tomcat.  
        <br><br>
        <a href="http://dojotoolkit.org">The Dojo Foundation</a> is also truly amazing, bringing JavaScript to the level of maturity it needs for the tasks it's now asked to perform.  Alex 
        Russell and the rest of the Dojo team should be proud of their efforts.
        
        <br><br>
        We'd also like to acknowledge the shockingly under-appreciated work of the many people who contribute to open protocols.  To us, open protocols 
        are at least as important as open source in creating the thriving interoperation of computers we know as the Internet.  LittleShoot particularly 
        benefits from the work of the <a href="http://tools.ietf.org/wg/mmusic/">MMUSIC</a> and <a href="http://tools.ietf.org/wg/behave/">BEHAVE</a> 
        working groups at the IETF, the people responsible for the STUN, TURN, and ICE drafts and RFCs.  
        In particular, Jonathan Rosenberg, Dan Wing, Henning Schulzrinne, and Magnus Westerlund are lynchpins making the Internet work.  
        To us, these should be household names in the tech community.  The fact that they're only known so well in certain circles just points to the 
        fact that they focus entirely on the unheralded work of writing open protocols specifications.  These and others like them are the glue of the 
        Internet, but all anyone talks about is new startups that let people send messages to their friends and update their statuses.  Crazy.
        
        <br><br>
        Beyond these wider Internet communities, many individuals have contributed a great deal to LittleShoot.  My many conversations with 
        <a href="http://cholmes.wordpress.com/">Chris Holmes</a> have influenced our direction considerably, as have the efforts of 
        <a href="http://cs.nyu.edu/~soule/">Robert Soule</a>.  Wendy Vittori has brought rigor to our thinking about competition and marketing, and 
        <a href="http://www.tazznetworks.com/content62.html">Jared Rosoff</a>, 
        <a href="http://www.mcommons.com">Chris Muscarella</a>, 
        Art Chang from <a href="http://www.tippingpointpartners.com">Tipping Point Partners</a>, 
        <a href="http://www.news.cs.nyu.edu/~jinyang/">Jinyang Li</a> from NYU, 
        <a href="http://www.walking-productions.com/shawn.html">Sean Van Every</a> from NYU, and 
        <a href="http://www.unionsquareventures.com/team/">Brad Burnham</a> and 
        <a href="http://www.andrewparker.net">Andrew Parker</a> all have contributed to making LittleShoot a better 
        program and project.  
        Leo Kim, now with my old buddies over at LimeWire, helped us with our server cluster and database replication setup.  Thanks Leo!  <a href="http://aurgasm.us">Paul Irish</a> lent a hand with hacking the Yahoo Media Player, and 
        <a href="http://www.quinthar.com/">David Barrett</a>, now of Akamai, has helped in various technical areas and relentlessly pounds through 
        battles on mailing lists -- a great guy to have in your bunker when the flames start flaring.  Maya Edelman helped with various aspects of setting up the company.  On the legal front, 
        <a href="http://www.eeklaw.com/attorneysrevised.html">Ted Chastain</a> straightened out our corporate structure, and 
        <a href="http://wendy.seltzer.org">Wendy Seltzer</a> and 
        <a href="http://www.eff.org/about/staff/fred-von-lohmann">Fred von Lohmann</a> 
        took a great deal of painstaking time explaining the legal intricacies surrounding copyright and the DMCA.  Their insights 
        influenced us a great deal.  The work of Yochai Benklar has pushed our thinking on a theoretical level and driven our actions in code.  Finally, several little known early projects 
        pointed the way to the potential for a new kind of p2p that interoperated with other Internet standards, in particular Roberto Bayardo's <a href="http://www.bayardo.org/youserv/">YouServ</a> 
        project at IBM and the largely 
        non-functional but theoretically important SIP-based p2p project <a href="http://www.research.earthlink.net/p2p/">SIPshare</a> from Earthlink labs.
        
        <br><br>
        We stand on the shoulders of many giants.
        
        <br><br>
        The old team at LimeWire also deserves a shout out, particularly Mark Gorton, Greg Bildson, Susheel Daswani, Robert Soule, Chris Rohrs, Sumeet Thadani, 
        Aubrey Bowser, and Sam Berlin.  We played some great foosball games and made some sweet technology.  
        
        <br><br>
        A bit closer to home, our families and loved ones have provided their undying support throughout, particularly the undying support and contributions of Rachel Johnson, Daria Fisk, 
        Pliny Fisk, Gail Vittori, Noah Fisk, Lesley Williams, Ariel Fisk-Vittori, Carson Fisk-Vittori, Wendy Rowland, Daniel Rowland.  We never would have made it to this point without 
        your love and devotion and all of the many things we've learned from you.  It's amazing you've put up with this for so long!
    </span>
</div> 
        </div>
    </div>
{% endblock %}