{% if showWelcome %}
    <div id="welcomeMessageDiv" class="normalBoldBig" style="display:none; color: white;">
        <img style="float: left; padding: 16px;" src="images/littleshoot_logo_small.png"/>
        
        <div style="padding: 20px;">
            <span id="welcomeMessage" style="font-size: 20px;">Welcome to LittleShoot!</span><br>
        </div>
        <br>
        
        <div class="normalBold" style="color: white; clear:both; font-size: 14px;">
            <div style="position:relative; text-align: left; padding-left: 10px; padding-top: 10px;">
                Here's What You Can Do:
                <ul>
                    <li>Search Everything from IsoHunt to YouTube</li>
                    <li>Track your Downloads in the Downloads Tab</li>
                    <li>Download BitTorrent Files Directly in Your Browser</li>
                    <li>Publish P2P Files Super Efficiently (Coming Soon!)</li>
                </ul>
                
            Use the TABS at the top of the page to navigate. If you have any problems, e-mail us directly at feedback@littleshoot.org, or use the 
            <a style="color: white;" href="http://groups.google.com/group/littleshooters/" target="_blank" title="LittleShoot Forum">LittleShoot forums</a>.<br><br>
            Oh, and if you can, please <a style="color: white;" class="donateLinkDirect" href="#">CLICK HERE TO DONATE</a>! No amount is too small.
            </div>
            
        </div>
        <br>
        <center>
            <br>
            <div id="welcomeCloseButton" style="cursor:pointer; color: #333; font-size: 24px; background-color: white; border: 2px solid #888; width: 120px; text-align: center;">
                <span>OK</span>
                <br>
            </div>
            <br>
        </center>
    </div>
{% endif %}