<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app 
    xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd"
    version="2.5">

    <display-name>LittleShoot Servlets</display-name>
    <description>LittleShoot Servlets</description>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/applicationContext.xml
            <!-- 
            classpath:/httpServerBeans.xml
             
            classpath:/clientServicesBeans.xml
            
            classpath:/controllerBeans.xml
            -->
            
            <!-- 
            classpath:/searchBeans.xml
            classpath:/npapiBeans.xml
            
            Removed when we pushed all p2p code to Java config.
            classpath:/rudpBeans.xml
            classpath:/sipBootstrapBeans.xml
            classpath:/sipHttpClientBeans.xml
            classpath:/sipStackBeans.xml
            classpath:/sipClientBeans.xml
            classpath:/iceRudpBeans.xml
            classpath:/turnClientBeans.xml
             -->
            </param-value>
        
        </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
        </listener>
        
    <listener>
        <listener-class>org.lastbamboo.client.site.SiteListener</listener-class>
        </listener>

    <!--
        Filter to make sure requests are coming from localhost.  This limits
        requests to browsers and local apps.
    -->
    <filter>
        <filter-name>localHostCheck</filter-name>
        <filter-class>org.lastbamboo.client.controllers.LocalHostFilter</filter-class>
        </filter>

    <filter-mapping>
        <filter-name>localHostCheck</filter-name>
        <url-pattern>/api/*</url-pattern>
        </filter-mapping>

    <servlet>
        <servlet-name>app-check</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        </servlet>

    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        </servlet>
                
    <servlet>
        <servlet-name>publish-file</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        </servlet>
        
    <servlet>
        <servlet-name>hii-publish</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        </servlet>

    <servlet>
        <servlet-name>published-files</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
        </servlet>
        
    <servlet>
        <servlet-name>search-results</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        </servlet>
         
    <servlet>
        <servlet-name>download</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        </servlet>
        
    <servlet>
        <servlet-name>download-torrent</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        </servlet>
        
    <servlet>
        <servlet-name>start-torrent-download</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
        </servlet>
        
    <servlet>
        <servlet-name>download-stream</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        </servlet>

    <servlet>
        <servlet-name>open-download-folder</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
        </servlet>
        
    <servlet>
        <servlet-name>stop-download</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
        </servlet>
        
    <servlet>
        <servlet-name>pause-download</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
        </servlet>
        
    <servlet>
        <servlet-name>resume-download</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
        </servlet>

    <!-- Controller for getting download data as JSON -->
    <servlet>
        <servlet-name>downloads</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
        </servlet>
        
    <servlet>
        <servlet-name>clear-inactive-downloads</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
        </servlet>
        
    <servlet>
        <servlet-name>clear-failed-downloads</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
        </servlet>
                
    <servlet>
        <servlet-name>http-urn-sha1</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
        </servlet>
        
    <servlet>
        <servlet-name>remove-file</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
        </servlet>
        
    <servlet>
        <servlet-name>signed-relay</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        </servlet>
        
    <servlet>
        <servlet-name>directory-redirect</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
        </servlet>

    <servlet>
        <servlet-name>crossdomain</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        </servlet>
        
    <servlet>
        <servlet-name>activate-dev-pay</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
        </servlet>
        
    <servlet>
        <servlet-name>general-static</servlet-name>
        <servlet-class>org.mortbay.jetty.servlet.DefaultServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
        </servlet>
          
       <!--      
    <servlet>
        <servlet-name>crossdomain</servlet-name>
        <servlet-class>org.mortbay.jetty.servlet.DefaultServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        <init-param>
            <param-name>cacheControl</param-name>
            <param-value>no-cache</param-value>
        </init-param>
    </servlet>
     -->
        
    <!-- START MAPPINGS -->
    <servlet-mapping>
        <servlet-name>publish-file</servlet-name>
        <url-pattern>/api/client/secure/publishFile</url-pattern>
        </servlet-mapping>
        
    <servlet-mapping>
        <servlet-name>hii-publish</servlet-name>
        <url-pattern>/api/client/hiipublish</url-pattern>
        </servlet-mapping>

    <servlet-mapping>
        <servlet-name>published-files</servlet-name>
        <url-pattern>/api/client/publishedFiles</url-pattern>
        </servlet-mapping>
        
    <servlet-mapping>
        <servlet-name>signed-relay</servlet-name>
        <url-pattern>/api/client/secure/signedRelay</url-pattern>
        </servlet-mapping>
                
    <servlet-mapping>
        <servlet-name>remove-file</servlet-name>
        <url-pattern>/api/client/secure/removeFile</url-pattern>
        </servlet-mapping>

    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/api/client/search</url-pattern>
        </servlet-mapping>
        
    <servlet-mapping>
        <servlet-name>search-results</servlet-name>
        <url-pattern>/api/client/searchResults</url-pattern>
        </servlet-mapping>
        
    <servlet-mapping>
        <servlet-name>app-check</servlet-name>
        <url-pattern>/api/client/appCheck</url-pattern>
        </servlet-mapping>

    <servlet-mapping>
        <servlet-name>download</servlet-name>
        <url-pattern>/api/client/download/*</url-pattern>
        </servlet-mapping>
        
    <servlet-mapping>
        <servlet-name>download-torrent</servlet-name>
        <url-pattern>/api/client/downloadTorrent/*</url-pattern>
        </servlet-mapping>
        
    <servlet-mapping>
        <servlet-name>start-torrent-download</servlet-name>
        <url-pattern>/api/client/startTorrentDownload/*</url-pattern>
        </servlet-mapping>

    <servlet-mapping>
        <servlet-name>download-stream</servlet-name>
        <url-pattern>/api/client/streamDownload/*</url-pattern>
        </servlet-mapping>

    <servlet-mapping>
        <servlet-name>open-download-folder</servlet-name>
        <url-pattern>/api/client/openDownloadFolder/*</url-pattern>
        </servlet-mapping>
                
    <servlet-mapping>
        <servlet-name>stop-download</servlet-name>
        <url-pattern>/api/client/stopDownload/*</url-pattern>
        </servlet-mapping>
        
    <servlet-mapping>
        <servlet-name>pause-download</servlet-name>
        <url-pattern>/api/client/pauseDownload/*</url-pattern>
        </servlet-mapping>
        
    <servlet-mapping>
        <servlet-name>resume-download</servlet-name>
        <url-pattern>/api/client/resumeDownload/*</url-pattern>
        </servlet-mapping>

    <!-- 
        This is secure to avoid any site gaining access to the downloads
        on a user's machine.
     
    <servlet-mapping>
        <servlet-name>downloads</servlet-name>
        <url-pattern>/api/client/downloads</url-pattern>
        </servlet-mapping>
        
        
    <servlet-mapping>
        <servlet-name>clear-inactive-downloads</servlet-name>
        <url-pattern>/api/client/clearInactiveDownloads</url-pattern>
        </servlet-mapping>
        
    <servlet-mapping>
        <servlet-name>clear-failed-downloads</servlet-name>
        <url-pattern>/api/client/clearFailedDownloads</url-pattern>
        </servlet-mapping>
        -->
             
    <servlet-mapping>
        <servlet-name>http-urn-sha1</servlet-name>
        <url-pattern>/uri-res/*</url-pattern>
        </servlet-mapping>

    <servlet-mapping>
        <servlet-name>general-static</servlet-name>
        <url-pattern>/favicon.ico</url-pattern>
        </servlet-mapping>
        
    <servlet-mapping>
        <servlet-name>directory-redirect</servlet-name>
        <url-pattern>/*</url-pattern>
        </servlet-mapping>

<!-- 
    <servlet-mapping>
        <servlet-name>crossdomain</servlet-name>
        <url-pattern>/crossdomain.xml</url-pattern>
        <url-pattern>/api/client/crossdomain.xml</url-pattern>
        </servlet-mapping>
        
    <servlet-mapping>
        <servlet-name>activate-dev-pay</servlet-name>
        <url-pattern>/api/client/activateDevPay</url-pattern>
        </servlet-mapping>
-->
        
    <mime-mapping>
        <extension>rar</extension>
        <mime-type>application/x-rar</mime-type>
        </mime-mapping>
    
    <!-- Not totally clear what this should be.  Ubuntu uses text/plain.  
         Fedora uses application/x-iso9660-image
    -->
    <mime-mapping>
        <extension>iso</extension>
        <mime-type>application/x-iso9660</mime-type>
        </mime-mapping>
        
    <mime-mapping>
        <extension>mkv</extension>
        <mime-type>video/x-matroska</mime-type>
        </mime-mapping>
        
    <mime-mapping>
        <extension>mka</extension>
        <mime-type>audio/x-matroska</mime-type>
        </mime-mapping>
        
    <mime-mapping>
        <extension>m4v</extension>
        <mime-type>video/x-m4v</mime-type>
        </mime-mapping>
        
    <mime-mapping>
        <extension>dmg</extension>
        <mime-type>application/x-apple-diskimage</mime-type>
        </mime-mapping>
        
    </web-app>

